<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000" />

  <!-- Bootstrap CSS -->
  <noscript>You need to enable JavaScript to run this app.</noscript>
  {% include 'react/css.html' %}
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    .bg-tweetme {
      background-color: #8e1f1f !important;
    }
  </style>
  <title>Tweetme 2 {% block head_title %} {% endblock head_title %}</title>
</head>

<body>
  {% include "components/navbar.html" %}

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  {% include "components/footer.html" %}
  {% include 'react/base_embed.html' %}
  {% include 'react/js.html' %}
</body>

</html>